.players {
    float: left;
    width: 200px;
}
.community {
    float: left;
}
.controls {
    margin-bottom: 15px;

    label, input {
        margin-right: 3px;
    }
}
.player {
    height: 100px;

}
.rank {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}
.hand-type {
    font-size: 13px;
    margin-left: 5px;
}
.player-name {
    margin-right: 10px;
}
.card {
    display: inline-block;
    height: 60px;
    width: 40px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 7px 3px 0 0;
    line-height: 35px;

    &.red {
        color: red;
    }
}
